{% extends 'base.html' %}
 {% block content%}
 <div class="card-header bg-secondary ">
      <h1 class="card-title text-center text-white">تسجيل الدخول </h1>  
    </div>   
 <div class="card-body">  
  <div class="card-text">
<p>You are logged out please contact admin  </p>
        
        

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" class="btn btn-info" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
</div>
{%endblock%}