{% extends 'base.html' %}
 {% block content%}
  
<div class="card-header bg-secondary ">
      <h1 class="card-title text-center text-white">تسجيل الدخول </h1>  
    </div>   
    <div class="card-body">  
  <div class="card-text">
{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" class="btn btn-info float-left" value="تسجيل الدخول" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
</div>
{%endblock%}
